*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.github-profile-continer {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 8px;
}

.input-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.input-wrapper input {
  padding: 12px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.input-wrapper input::placeholder {
  font-size: 14px;
}

.input-wrapper input:focus {
  outline: 1px solid #00f4ec;
}

.input-wrapper button {
  padding: 5px 12px;
  border: none;
  border-radius: 8px;
  background-color: #00f4ec;
  color: #000;
  cursor: pointer;
}

.user {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #00f4ec;
  margin-top: 2rem;
  display: grid;
  grid-template-areas: 'avatar name' 'avatar  profil' ;
}

.avatar-container{
grid-area: avatar;
display: flex;
justify-content: center;
align-items: center;

}

.avatar {
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  
}

.name-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.name-container a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.name-container a span:hover{
  color: #00f4ec;
  text-decoration: underline;
}

.name-container p{
  font-size: 20px;
  font-weight: bold;
  grid-area: name;
  margin-bottom: 10px;
}

.profile-info{
  grid-area: profil;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}

.profile-info div{
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 20px;
  font-weight: bold;
}